<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAzPH2apeGzHF0ejebrwL76MZwNKc1yvzM</string>
	<key>GCM_SENDER_ID</key>
	<string>359361018508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GoogleServicesApple</string>
	<key>PROJECT_ID</key>
	<string>resumeplus-2d47f</string>
	<key>STORAGE_BUCKET</key>
	<string>resumeplus-2d47f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359361018508:ios:0b81bc1abecf1442b619a9</string>
</dict>
</plist>